body {
    background-color: #3F3269;
}

.formulario {
    border: 1px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: fit-content;
    margin: 0 auto;
    background-color: #575269;
}

input {
    margin: 8px 8px 8px 0;
    vertical-align: center;
}

.text-boxes {
    padding: 4px 4px 4px 8px;
    height: 20%;
    border: none;
    border-radius: 16px;
    text-align: left;
    background-color: #3F3269;
}

.text-boxes::placeholder {
    color: darkgray;
}

input[type=color] {
    width: 40px;
    height: 40px;
    border-color: transparent;
}

#petbook {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#title {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

p, label {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

input[type=submit] {
    width: auto;
    padding: 8px;
    background-color: #8b70e7;
    color: white;
}
